<header>
  <h1><%= link_to "大山MAP", root_path %></h1>
  <h4><%= link_to "記事を作成", new_list_path %></h4>

  <% if @current_user %>
    <h4><%= link_to "管理者ログアウト", logout_path, method: :delete %></h4>
  <% else %>
    <h4><%= link_to "管理者ログイン", login_path %></h4>
  <% end %>
</header>